.custom-record-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(5, 135, 241, 0.2), 0 6px 10px 0 rgba(2, 78, 241, 0.19);
    margin-bottom: 5px;
}

.array-source-container {
    display: flex;
    flex-direction: column;
}

.result-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30%;
}

.result {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.label {
    padding-top: 5px;
    padding-left: 50%;
    font-size: 10px;
}

.array {
    padding-left: 20px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}

.value {
    padding-left: 20px;
    font-size: 24px;
}

hr {
    width: 96%;
}